<div class="flex flex-col space-y-4">
    <div class="text-center text-textMedium font-bold mt-4">Dates</div>
    <form
        class="issue-form p-3"
        [formGroup]="form"
    >
        <div class="text-14 font-medium">Start Date - Due Date</div>
        <div class="flex items-center">
            <nz-range-picker
                nzShowTime
                [nzRanges]="ranges"
                formControlName="datePicker"
                nzFormat="yyyy-MM-dd HH:mm:ss"
            ></nz-range-picker>
        </div>
        <div class="flex flex-col space-y-1 mt-2">
            <div class="text-14 font-medium">
                Set due date reminder(Reminders will be sent to all members and watchers of this card).
            </div>
            <nz-select
                class="w-full"
                formControlName="dateReminder"
                nzNoAnimation
                nzAllowClear
                nzPlaceHolder="Choose reminder"
            >
                <nz-option
                    *ngFor="let option of optionReminders"
                    [nzValue]="option.key"
                    [nzLabel]="option.label"
                >
                </nz-option>
            </nz-select>
        </div>
        <div class="flex w-full flex-col items-center space-y-2 mt-4">
            <j-button
                class="w-full"
                (click)="onSave()"
                [disabled]="form?.invalid"
                className='btn-primary w-full'
            >
                Save
            </j-button>
            <j-button
                class="w-full"
                className='btn-secondary w-full'
                (click)="closeModal()"
            >
                Remove
            </j-button>
        </div>
    </form>
</div>
